


    .contactMe{color:white;
        padding-top: 50px;}
    .contact-height{background-color: #4E5158;
        height:800px;
        padding-top:50px }
    .carousel-item-padding{
        padding:100px 250px;
        text-align: center;
    }

    /*index.html*/

    .add-section{
         background: url("../imgs/addsection.jpg");
        background-attachment: fixed;
        background-size: 100% 100%;
    }
        /*portfolio.html*/
    .emailText{
        padding-top: 30px;
        font-size: 20px;
    }
    .email-section {
        height: 150px;
    }
    .email-section2{
        height: 100px;
    }
    .add-section1{
        background: url("../imgs/addsection1.png");
        background-size: 100% 100%;
        background-attachment:fixed;
    }
    .add-section2{
        background: url("../imgs/addsection3.jpeg");
        background-size:100% 100% ;
        background-attachment:fixed;
    }
    .add-section3{
        background: url("../imgs/addSection2.jpg");
        background-attachment: fixed;
        background-size:100% 100% ;
    }
    .personalHistory{
        background: url("../imgs/PersonalHistory.jpg");
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    .text-center{
        color: white;
    }
    .myDetails{
        color:#A0CE4E;
        padding-top: 50px;
    }
    .content-container{
        height: 200px;
        text-align: center;
    }
    .content-container1{
        height: 200px;
    }

    /*gallery section*/
    .gallery-section{
        background: url("../imgs/gallery section.jpg");
        background-size: 100% 100%;
        /*background-attachment: fixed;*/
    }
    .gallery-height{
        padding-top: 150px;
    }
    .gallery-main-image{
        height: 400px;
        width: 100%;
        border: 1px solid red;
    }
    .sub-image{
        height: 50px;
        width: 86px;
        border: 1px solid gray;
    }